*{
    margin: 0;
    padding: 0;
}

.container{
    width:80%;
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
}

input{
    padding: 10px 10px;
    border : none;
    width: 80%;
    box-sizing: border-box;
    outline :none;
}
.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
button{
    padding: 10px ;
    border-radius: 5px;
    background-color: black;
    width:19%;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
}
button:hover{
    background-color:blue;
}
body{
  background-color: pink;   
}
.tag{
    background-color: rgb(237, 12, 12);
    width: 20vw;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0px;
    transition : all 1s;
}
.tag:hover{
    transform: translateY(10px) scale(1.25);
}